body {
    background: rgb(21, 251, 191);
    background-image: radial-gradient(circle, rgba(21, 251, 191, 1) 0%, rgba(247, 185, 255, 1) 25%, rgba(136, 131, 242, 1) 81%);
    width: 100vw;
    height: 100vh;
}

#task {
    border-radius: 5em;
    width: 18em;
    height: 2.5em;
    padding: 1.5em;
    margin: 1.5em;
    font-size: 1em;
}

#push {
    height: 4.5em;
    width: 6em;
    float: center;
    position: relative;
    cursor: pointer;
    border-radius: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 800px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.63);
    min-height: 150px;
    min-width: 500px;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8em;
}

.contentarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.posts {
    justify-content: center;
}
#posts {
    font-size: 20px;
    justify-content: center;
    width: 450px;
    margin-top: 520px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.63);
    min-width: 450px;
    position: absolute;
    border-radius: 8em;
    flex-direction: column;
}

div {
    display: flex;
    align-items: center;
}

h2 {
    color: rgb(41, 138, 105);
    font-size: 18px;
    margin-right: 30px;
}

.button {
    height: 18px;
    color: rgb(3, 3, 3);
    cursor: pointer;
}